{% extends 'ecom/admin_base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white py-3">
                    <h5 class="mb-0">Add Production</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'add-product-production' %}">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="product" class="form-label">Select Product</label>
                            <select class="form-select" name="product" id="product" required>
                                {% for product in products %}
                                    <option value="{{ product.id }}" {% if product.id == selected_product.id %}selected{% endif %}>{{ product.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="quantity_produced" class="form-label">Quantity Produced</label>
                            <input type="number" step="0.01" class="form-control" id="quantity_produced" name="quantity_produced" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="production_date" class="form-label">Date of Production</label>
                            <input type="date" class="form-control" id="production_date" name="production_date" required>
                        </div>
                        
                        <div class="d-flex ">
                            <button type="submit" class="btn btn-success me-3">
                                <i class="fas fa-plus-circle me-2"></i>Add Production
                            </button>
                            <a href="{% url 'product-production-list' %}" class="btn btn-danger">
                                <i class="fas fa-times-circle me-2"></i>Cancel
                            </a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
