{% extends 'ecom/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container bg-dark text-white">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Title -->
        <div class="alert alert-dark text-center text-white">
          <strong>Update Product Details</strong>
        </div>

        <!-- Form -->
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Product Name</label>
                {% render_field productForm.name class="form-control" placeholder="Product Name" %}
              </div>
              <div class="form-group">
                <label for="description">Product Description</label>
                {% render_field productForm.description class="form-control" placeholder="Description" %}
              </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                {% render_field productForm.quantity class="form-control" placeholder="Quantity" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="price">Product Price (Rs.)</label>
                {% render_field productForm.price class="form-control" placeholder="Price" %}
              </div>
              <div class="form-group">
                <label for="unit">Unit</label>
                {% render_field productForm.unit class="form-control" placeholder="Unit" %}
              </div>
              <div class="form-group">
                <label for="expiry_date">Expiry Date</label>
                {% render_field productForm.expiry_date class="form-control" placeholder="Expiry Date" %}
              </div>
              <div class="form-group">
                <label for="product_image">Product Image</label>
                {% render_field productForm.product_image class="form-control" placeholder="Product Image" %}
                {% if productForm.instance.product_image %}
                  <div class="mt-2">
                    <img src="{{ productForm.instance.product_image.url }}" alt="Current Image" class="img-thumbnail" style="max-width: 150px; height: auto;" />
                    <p class="mt-2">Current Product Image</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block">Update Product Details</button>
        </div>
      </div>
    </div>
  </div>

</form>

{% endblock content %}