<div class="row g-4">
  <div class="col-md-4">
    <div class="card text-white bg-danger mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center p-4">
        <div class="me-3">
          <h3 class="card-title" style="font-size: 2rem;">{{customercount}}</h3>
          <h4 class="card-text" style="font-size: 1.2rem;">Registered Customer</h4>
        </div>
        <div class="ms-auto">
          <i class="fa fa-users fa-4x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-success mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center p-4">
        <div class="me-3">
          <h3 class="card-title" style="font-size: 2rem;">{{productcount}}</h3>
          <h4 class="card-text" style="font-size: 1.2rem;">Total Product</h4>
        </div>
        <div class="ms-auto">
          <i class="fa fa-shopping-cart fa-4x"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-4 shadow-sm">
      <div class="card-body d-flex align-items-center p-4">
        <div class="me-3">
          <h3 class="card-title" style="font-size: 2rem;">{{ordercount}}</h3>
          <h4 class="card-text" style="font-size: 1.2rem;">Total Orders</h4>
        </div>
        <div class="ms-auto">
          <i class="fa fa-bar-chart fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
