{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 style="text-align:center;" class="panel-title">My Cart</h4>
    </div>
    <table class="table table-hover table-bordered" id="cart-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
          <tr>
            <td>{{ p.name }}</td>
            <td>
              <img src="{% static p.product_image.url %}" alt="{{ p.name }}" height="50px" width="50px">
            </td>
            <td>${{ p.price }}</td>
            
            <td>
              <a class="btn btn-danger btn-xs" href="{% url 'remove-from-cart' p.id %}">
                <span class="glyphicon glyphicon-trash"></span> 
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not products %}
      <div style="text-align: center;">
        <h4>Your cart is empty!</h4>
      </div>
    {% endif %}
  </div>
</div>

<div style="text-align: center;">
  <button class="btn btn-danger btn-lg">Total: Rs.{{ total }}</button>
  <a href="/customer-address">
    <button class="btn btn-success btn-lg">Proceed to Checkout</button>
  </a>
</div>
<br><br>

{% endblock content %}