{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <img src="http://share.ashiknesin.com/green-checkmark.png" class="img-fluid mb-3" style="max-width: 62px;" alt="Success">
    <h2 class="my-3">Payment Successful!</h2>
    <p class="mb-4">We are delighted to inform you that we received your payments.</p>
    <a href="/my-order" class="btn btn-success btn-lg mb-3">View Orders/Track Orders</a>
    <br>
    <a href="/customer-home" class="btn btn-secondary btn-lg">Continue Shopping</a>
  </div>
</div>
{% endblock content %}
